ARENA_DB_HOST=arena-db
ARENA_DB_PORT=5432
ARENA_DB_NAME=arena
ARENA_DB_USER=arena_user
ARENA_DB_PASSWORD=changeme_arena_2026
ARENA_REDIS_HOST=arena-redis
ARENA_REDIS_PORT=6379
ARENA_ADMIN_KEY=changeme_admin_key
ARENA_SECRET_KEY=changeme_secret_key
